%p.lead
  *Agregar imagen imagen binarizada convertida a texto, separa con salto de linea cada renglon
= simple_form_for(@photo) do |f|
  = f.error_notification

  .form-inputs
    = f.input :image,:input_html => {:rows => 30}

  .form-actions
    = f.button :submit
