$('#chain').html("<h4>Cadenas f8</h4>#{@strings}");
$('#a').tab('show')
$('#perimeter').attr('class', "tab-pane fade in");
$('#moments').attr('class', "tab-pane fade in");
$('#distance').attr('class', "tab-pane fade in");
$('#topology').attr('class', "tab-pane fade in");



