$('#chain').html("<h4>Cadenas f8</h4>#{@f8_strings}");
$('#chain').append("<h4>Cadenas af8</h4>#{@af8_strings}");
$('#chain').append("<h4>Cadenas f4</h4>#{@f4_strings}");
$('#a').tab('show');
$('#cadena').click();
$('#perimeter').attr('class', "tab-pane fade in");
$('#moments').attr('class', "tab-pane fade in");
$('#distance').attr('class', "tab-pane fade in");
$('#topology').attr('class', "tab-pane fade in");
